<%- include("../layouts/header", {title: 'countries'}) %>
<%- include("../partials/mainHeader") %>

<div class="container">
    <a id="back_button" class="back_button d-inline-block text-body text-decoration-none border-0 bg-transparent shadow pr-5 pl-5 pt-2 pb-2 mb-5" href="/">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back
    </a>
    <div class="row">
        <% if(one_country){%>
        <div class="col-12 col-lg-6 d-flex flex-wrap align-items-center mb-5 mb-lg-0">
            <img class="img-fluid shadow" src="<%= one_country.flag %>" alt="<%= one_country.name %>">
        </div>
             
        <div id="country_info_container" class="country_info_container col-12 col-lg-6 d-flex flex-wrap">
            <div class="col-12 p-0 d-flex flex-wrap align-items-center">
                <div class="row">
                    <div class="col-12">
                        <h4 class="mb-3"><%= one_country.name %></h4>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="d-flex flex-wrap align-items-center mb-1">
                            <h6 class="inline m-0 mr-2">Native name: </h6>
                            <p class="m-0"><%= one_country.nativeName %></p>
                        </div>
                        <div class="d-flex flex-wrap align-items-center mb-1">
                            <h6 class="inline m-0 mr-2">population: </h6>
                            <p class="m-0"><%= one_country.population %></p>
                        </div>
                        <div class="d-flex flex-wrap align-items-center mb-1">
                            <h6 class="inline m-0 mr-2">Region: </h6>
                            <p class="m-0"><%= one_country.region %></p>
                        </div>
                        <div class="d-flex flex-wrap align-items-center mb-1">
                            <h6 class="inline m-0 mr-2">Subregion: </h6>
                            <p class="m-0"><%= one_country.subregion %></p>
                        </div>
                        <div class="d-flex flex-wrap align-items-center mb-1">
                            <h6 class="inline m-0 mr-2">Capital: </h6>
                            <p class="m-0"><%= one_country.capital %></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div>
                            <div class="d-flex flex-wrap align-items-center mb-1">
                                <h6 class="inline m-0 mr-2">Top level domain: </h6>
                                <p class="m-0"><%= one_country.topLevelDomain%></p>
                            </div>
                            <div class="d-flex flex-wrap align-items-center mb-1">
                                <h6 class="inline m-0 mr-2">Currencies: </h6>
                                <p class="m-0"><%= one_country.currencies[0].name %></p>    
                            </div>
                            <div class="d-flex flex-wrap align-items-center mb-1">
                                <h6 class="inline m-0 mr-2">Languages: </h6>
                                <p class="m-0"><%= one_country.languages[0].name %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3 d-flex flex-wrap align-items-center">
                        <h6 class="mb-0 mr-3">Border Countries:</h6>
                        <% for( var i=0; i < one_country.borders.length; i++){ %>
                            <a href="/country/<%= one_country.borders[i].toLowerCase() %>" class="related_countries mb-2 rounded-0 text-center btn bg-white shadow-sm mr-2 pr-4 pl-4" href="#" style="font-size: 12px;"><%= one_country.borders[i] %></a>
                        <% } %>    
                    </div>
                </div>
            </div>
        </div>
        <% } %>    
    </div>
</div>
<%-include("../layouts/footer") %> 